// See http://eslint.org/docs/rules/ for more details
{
  "env": {
    "browser": true,
    "node": true,
    "amd": true
  },

  // Custom Globals
  "globals" : {
    "Modernizr": false,
    "requirejs": false,

    // Mocha
    "describe" : false,
    "it": false,
    "before": false,
    "beforeEach": false,
    "after": false,
    "afterEach": false,
    "mochaPhantomJS": false,
    "mocha": false
  },

  "rules": {
    // Possible Errors
    "no-cond-assign": [1, "never"],
    "no-console": 0,
    "no-constant-condition": 1,
    "no-control-regex": 0,
    "no-debugger": 0,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty": 1,
    "no-empty-class": 1,
    "no-ex-assign": 1,
    "no-extra-boolean-cast": 1,
    "no-extra-parens": 1,
    "no-extra-semi": 1,
    "no-func-assign": 2,
    "no-inner-declarations": 1,
    "no-invalid-regexp": 1,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 1,
    "no-obj-calls": 2,
    "no-regex-spaces": 1,
    "no-reserved-keys": 2,
    "no-sparse-arrays": 2,
    "no-unreachable": 2,
    "use-isnan": 2,
    "valid-jsdoc": 0,
    "valid-typeof": 2,

    // Best Practices
    "block-scoped-var": 2,
    "complexity": 0,
    "consistent-return": 1,
    "curly": 1,
    "default-case": 0,
    "dot-notation": 1,
    "eqeqeq": [2, "smart"],
    "guard-for-in": 1,
    "no-alert": 1,
    "no-caller": 1,
    "no-div-regex": 0,
    "no-else-return": 0,
    "no-empty-label": 1,
    "no-eq-null": 1,
    "no-eval": 1,
    "no-extend-native": 1,
    "no-extra-bind": 1,
    "no-fallthrough": 1,
    "no-floating-decimal": 1,
    "no-implied-eval": 1,
    "no-iterator": 1,
    "no-labels": 1,
    "no-lone-blocks": 1,
    "no-loop-func": 1,
    "no-multi-spaces": 1,
    "no-multi-str": 1,
    "no-native-reassign": 2,
    "no-new": 2,
    "no-new-func": 2,
    "no-new-wrappers": 1,
    "no-octal": 1,
    "no-octal-escape": 1,
    "no-process-env": 0,
    "no-proto": 1,
    "no-redeclare": 2,
    "no-return-assign": 1,
    "no-script-url": 2,
    "no-self-compare": 1,
    "no-sequences": 1,
    "no-throw-literal": 1,
    "no-unused-expressions": 1,
    "no-void": 1,
    "no-warning-comments": 0,
    "no-with": 1,
    "radix": 1,
    "vars-on-top": 0,
    "wrap-iife": [1, "any"],
    "yoda": 1,

    // Strict Mode
    "strict": 2,

    // Variables
    "no-catch-shadow": 1,
    "no-delete-var": 2,
    "no-label-var": 2,
    "no-shadow": 2,
    "no-shadow-restricted-names": 2,
    "no-undef": 2,
    "no-undef-init": 2,
    "no-undefined": 2,
    "no-unused-vars": 1,
    "no-use-before-define": 2,


    // Stylistic Issues
    "indent": [1, 4],
    "brace-style": [1, "1tbs", { "allowSingleLine": 1 }],
    "camelcase": 1,
    "comma-spacing": [1, {"before": 0, "after": 1}],
    "comma-style": [1, "last"],
    "consistent-this": [1, "self"],
    "eol-last": 1,
    "func-names": 0,
    "func-style": 0,
    "key-spacing": 1,
    "max-nested-callbacks": [1, 3],
    "new-cap": 1,
    "new-parens": 1,
    "no-array-constructor": 1,
    "no-inline-comments": 0,
    "no-lonely-if": 1,
    "no-mixed-spaces-and-tabs": 1,
    "no-multiple-empty-lines": [1, {"max": 2}],
    "no-nested-ternary": 0,
    "no-new-object": 1,
    "no-space-before-semi": 0,
    "no-spaced-func": 1,
    "no-ternary": 0,
    "no-trailing-spaces": 1,
    "no-underscore-dangle": 1,
    "no-wrap-func": 1,
    "one-var": [1, 1],
    "operator-assignment": 0,
    "padded-blocks": 0,
    "quote-props": 0,
    "quotes": [1, "single", "avoid-escape"],
    "semi": [2, "always"],
    "semi-spacing": [1, {"before": false, "after": true}],
    "sort-vars": 0,
    "space-after-function-name": 0,
    "space-after-keywords": [1, "always"],
    "space-before-blocks": [1, "always"],
    "space-before-function-parentheses": 0,
    "space-in-brackets": 0,
    "space-in-parens": 0,
    "space-infix-ops": 1,
    "space-return-throw-case": 1,
    "space-unary-ops": 0,
    "spaced-line-comment": 0,
    "wrap-regex": 0,

    // Legacy
    "max-depth": 0,
    "max-len": 0,
    "max-params": 0,
    "max-statements": 0,
    "no-bitwise": 0,
    "no-plusplus": 0
  }
}