<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="<%= appName %>" />
    <title><%= appDescription %></title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- Page styles -->
    <link rel="stylesheet" href="<%= relativePathToStyles %>/style.min.css" />

    <!-- Page scripts -->
    <script src="<%= relativePathToScripts %>/script.min.js" async="" defer=""></script>
</head>
<body>
    <!--[if lt IE 9]>
    <p class="browserupgrade">Ваш браузер <strong>устарел!</strong>. <a href="http://browsehappy.com/">Обновить браузер</a></p>
    <![endif]-->
    <p>Hello world!</p>
</body>
</html>
